Step Functions State Machine.txt
{
  "Comment": "Image processing workflow with Choice state and S3 buckets",
  "StartAt": "Resize Image",
  "States": {
    "Resize Image": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:273354625214:function:lambda-image-resizer_novelozo",
      "Next": "Check Result",
      "Parameters": {
        "sourceBucket": "novelozo-original-images",
        "destinationBucket": "novelozo-resized-images",
        "imageKey.$": "$.imageKey"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Fail State"
        }
      ]
    },
    "Check Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode",
          "NumericEquals": 200,
          "Next": "Success State"
        }
      ],
      "Default": "Fail State"
    },
    "Success State": {
      "Type": "Succeed"
    },
    "Fail State": {
      "Type": "Fail",
      "Error": "ImageResizeFailed",
      "Cause": "Lambda failed to resize the image"
    }
  }
}