Step Functions State Machine.txt
{
  "Comment": "Image processing workflow with Choice state and S3 buckets",
  "StartAt": "Resize Image",
  "States": {
    "Resize Image": {
      "Type": "Task",
      // Lambda function that performs the image resizing
      "Resource": "arn:aws:lambda:us-east-1:273354625214:function:lambda-image-resizer_novelozo",
      "Next": "Check Result",  // Next state after successful invocation
      "Parameters": {
        // Input parameters for the Lambda function
        "sourceBucket": "novelozo-original-images",
        "destinationBucket": "novelozo-resized-images",
        // Use the imageKey from the input event dynamically
        "imageKey.$": "$.imageKey"
      },
      "Catch": [
        {
          // Catch any error from Lambda execution
          "ErrorEquals": [
            "States.ALL"
          ],
          // On error, transition to Fail State
          "Next": "Fail State"
        }
      ]
    },
    "Check Result": {
      "Type": "Choice",
      "Choices": [
        {
          // Check if Lambda returned a successful status code
          "Variable": "$.statusCode",
          "NumericEquals": 200,
          // If yes, go to Success State
          "Next": "Success State"
        }
      ],
      // If status code is not 200, default to Fail State
      "Default": "Fail State"
    },
    "Success State": {
      // Marks the workflow as successfully completed
      "Type": "Succeed"
    },
    "Fail State": {
      // Marks the workflow as failed with an error and cause
      "Type": "Fail",
      "Error": "ImageResizeFailed",
      "Cause": "Lambda failed to resize the image"
    }
  }
}
